<body>

    <app-main-header></app-main-header>

    <div class="main__title">
        All Messages
    </div>

    <div class="messages__form__container">

        <div class="messages__form">

            <div class="form__entry">
                <div class="entry__title">
                    What Search?
                </div>
                <input type="text" class="entry entry__search" [(ngModel)]="filterSearch" (keyup.enter)="search()">

            </div>

            <div class="form__entry">
                <div class="entry__title">
                    Date Select
                </div>
                <input type="date" class="entry" [(ngModel)]="filterDate">

            </div>

        </div>

    </div>

    <div class="messages__list" *ngIf="messagesList.length > 0; else nothingFound">
        <ng-template ngFor let-msg [ngForOf]="messagesList" let-i="index">
            <app-message-card [msg]="msg"></app-message-card>
            <hr style="width: 100%">
        </ng-template>
    </div>

    <ng-template #nothingFound>
        <div class="alert">
            Nothing found
        </div>
    </ng-template>

</body>