body
{
    padding-left: 10%;
    padding-right: 10%;
}

.messages__form__buttons
{
    align-self: flex-end;
}
.main__button
{
    border-style: none;
    border-radius: 30px;

    background-color: var(--main-gray);

    width: 200px;

    font-size: 14pt;
    font-weight: bold;

    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}
.main__button:hover
{
    background-color: var(--hover-gray);
}

