/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');

:root
{
    --main-yellow: rgb(249, 253, 109);
    --hover-yellow: rgb(253, 255, 191);

    --main-gray: rgb(243, 245, 249);
    --hover-gray: rgb(226, 229, 233);
    --second-gray: rgb(217, 217, 217);

    --font-yellow: rgb(200, 204, 89);
}

*
{
    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;
}

html
{
    background-color: #141c2c;
}

button
{
    cursor: pointer;
}

a,
a:link, 
a:visited
{
    text-decoration: none;
    color: black;
}

.main__title
{
    font-weight: bold;
    color: var(--main-yellow);

    font-size: 24pt;

    margin-bottom: 20px;
}

/* UTILITIES */

.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}

.grid-2-1
{
    grid-template-columns: 2fr 1fr;
}
.grid-1-2
{
    grid-template-columns: 1fr 2fr;
}

.self-end
{
    align-self: flex-end;
}
.self-start
{
    align-self: flex-start;
}