<body>

    <div class="circle circle--1">

    </div>

    <div class="circle circle--2">

    </div>

    <div class="circle circle--3">

    </div>

    <div>

        <div class="section" id="section_1">

            <div class="section__text">

                <div class="title">
                    <img src="../../assets/img/Group 2.png" alt="">
                </div>

                <div class="subtitle text-left">
                    Create a message to share <br> with your friends.
                </div>

                <div class="content">

                    <div>Create your first message following the first steps:</div>

                    <div class="content__list">

                        <div class="content__row grid-1-2">

                            <img src="../../assets/img/Fashion blogging-pana 2.png" alt="">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend orci metus, eu
                                maximus felis congue sed. Class aptent taciti sociosqu</p>

                        </div>

                        <div class="content__row grid-1-2">

                            <img src="../../assets/img/Connected world-pana 2.png" alt="">

                            <p>Ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vitae elementum
                                sem, quis convallis ligula. Nam at mi at ipsum blandit dapibus ut et dui.</p>

                        </div>

                    </div>

                </div>

                <div class="content__buttons">
                    <a href="/signup" class="button__main button__signup">Sign Up</a>
                    <a href="/login" class="button__main button__login">Log In</a>
                </div>

            </div>

            <div class="section__image">

                <img src="../../assets/mobile/Samsung Galaxy S20 5G-4.png" alt="">

            </div>

        </div>

        <div class="section" id="section_2">

            <div class="section__image">

                <img src="../../assets/mobile/Samsung Galaxy S20 5G-4.png" alt="">

            </div>

            <div class="section__text">

                <div class="subtitle text-right">
                    Create a message to share <br> with your friends
                </div>

                <div class="content">

                    <div class="text-right">
                        Create your first message following the first steps
                    </div>

                    <div class="content__list">

                        <div class="content__row grid-2-1">

                            <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend
                                orci metus, eu maximus felis congue sed. Class aptent taciti sociosqu</p>

                            <img src="../../assets/img/Fashion blogging-pana 1.png" alt="">

                        </div>

                        <div class="content__row grid-2-1">

                            <p class="text-right">Ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Vestibulum vitae elementum sem, quis convallis ligula. Nam at mi at ipsum blandit
                                dapibus ut et dui.</p>

                            <img src="../../assets/img/Connected world-pana 1.png" alt="">

                        </div>

                    </div>

                    <div class="content__buttons self-end">
                        <a href="/signup" class="button__main button__signup">Sign Up</a>
                        <a href="/login" class="button__main button__login">Log In</a>
                    </div>

                </div>

            </div>

        </div>

        <div class="section" id="section_bottom">

            <div class="app__link link__QR">
                <img src="../../assets/icon/pngwing 1.png" alt="">
                <div>
                    Scan to download <br> iOS & Android
                </div>
            </div>

            <div class="app__grid">

                <div class="app__link">
                    <a href="">
                        <img src="../../assets/icon/ri_app-store-fill-1.png" alt="">
                    </a>
                </div>

                <div class="app__link">
                    <a href="">
                        <img src="../../assets/icon/Frame 17.png" alt="">
                    </a>
                </div>

                <div class="app__link">
                    <a href="">
                        <img src="../../assets/icon/Vector-1.png" alt="">
                    </a>
                </div>

                <div class="app__link">
                    <a href="">
                        <img src="../../assets/icon/wpf_macos.png" alt="">
                    </a>
                </div>

                <div class="app__link">
                    <a href="">
                        <img src="../../assets/icon/material-symbols_desktop-windows-1.png" alt="">
                    </a>
                </div>

                <div class="app__link">
                    <a href="">
                        <img src="../../assets/icon/mdi_linux.png" alt="">
                    </a>
                </div>

            </div>

        </div>
    </div>

</body>