
<body>
    
    <div class="section" id="section_1">

        <div class="section_left">
    
            <div class="title">
                <img [src]="logo" alt="">
                <div>
                    Wires
                </div>
            </div>
            
            <div class="subtitle">
                Create a message to share <br> with your friends.
            </div>

            <div class="content">

                <div>Create your first message following the first steps:</div>

                <div class="content-list">

                    <div class="content-row">

                        <img [src]="logo" alt="">

                        <p>Lorem ipsum dolor sit amet</p>

                    </div>

                    <div class="content-row">

                        <img [src]="logo" alt="">

                        <p>Lorem ipsum dolor sit amet</p>

                    </div>

                </div>

            </div>
    
        </div>
    
        <div class="section_right">
    
        </div>
    
    </div>
    
    <div class="section" id="section_2">
    
    </div>
    
    <div class="section" id="section_bottom">
    
    </div>

</body>